@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-principal: #FFC727;
    --color-complementario: #FFB412;
    --color-secundario: #DFEAFF;


}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4vh 5vw;
}

header .btn-dropdown {
    background-color: transparent;
    border: none;
    font-size: 1.4rem; /* rem calculo fontsize *1.4 */

}


.header-controls {
    display: none;
}

.header-controls .btn{
    background-color: transparent;
    border: none;
    padding: 7px 0;
    width: 6.2rem;
    font-size: 1.2rem;
    border-radius: 10px;
}


.logo {
    position: relative;
    
}
.logo div {
    display: flex;
}

.bi-people-fill {
    font-size: 1.7rem ;
    position: absolute ;
    top: -28px ;
    color: var(--color-principal);
}
.bi-bookmark-fill {
    padding-top: 5px;
    color: var(--color-complementario);
}

.logo div h2 {
    line-height: 28px ;
    margin-left: 5px;
    margin-top: 5px;
}

.colorPrincipal {
    color: var(--color-principal);
}

.hero {
    width: 80%;
    display: flex;
     /* el gap define el espacio e/ hijos*/
}


.heroText {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* el gap define el espacio e/ hijos*/
}

.heroImgContainer{
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 2.2rem;
}

.services{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: var(--color-secundario);
    padding: 5vh 0 ;
    border-top-left-radius: 20px ;
    border-top-right-radius: 20px ;
    margin-top: 5vh;
}
.serviceCard{
    width: 70%;
    background-color: white;
    border-radius: 10px ;
    padding: 15px;
    text-align: center;
}

.serviceCard img {
    width: 100% ;
}

footer{
    display: flex;
    width: 70%;
    margin: 0 auto;
    padding-top: 5vh ;
    flex-direction: column;
    gap: 2vh;
}

footer .follow {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.redes {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
}

.copy {
    font-size: 0.8rem;
}

@media screen and (min-width: 1000px ){
    .heroImgContainer{
    display: flex;
    justify-content: center;
    width: 60%;
    flex: 2;
    }
    
    .heroText {
        flex: 1;
    }
    .heroImgContainer img {
        width: 80%;
    }

    html {
        font-size: 18px ;
    }
    .header-controls{
     display: flex;
     gap: 3vw;
    }
    header .btn-dropdown {
        display: none;}

        

        .header-controls  .btn-login {
        border: solid 1px gray;
        }
        
        .header-controls .btn-register{
        background-color: #FFB412;
        color: white;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.229); 
        /*-webkit-text-stroke: black; - da bordes a las letras

        son 4 propiedades: y, x, difuminado, crecimiento de la sombra a todos lados*/
        }
    .services{
        flex-direction: row;
        justify-content: space-between;
        padding:3vh 10% ;
    }
    .serviceCard{
        height: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 17rem;
    }
    .serviceCard p {
        flex: 1; /* le permite decir al hijo cuanto espacio va a ocupar del flexbox, divide espacios de manera responsiva. en esta caso ocupa 1/3 */
        display: flex;
        align-items: end;
    }
    .serviceImgContainer{
        flex: 2;
        display: flex;
        align-items: center;
        
    }
}

@media screen and (min-width: 1000px ){

}

/* @media screen and (max-width: 1000){

} */